{% extends "layout.html" %}
{% block content %}
<script src="/static/scripts/input.js"></script>
<div class="page-header" style="margin-top:70px;"><h2>请输入股票信息</h2></div>

<div class="row">
    <form name="form1" class="form" role="form" action="/info_submit/" method="post" target="msginfo" onsubmit="return mycheck()">
    	{% csrf_token %}
    <div class="col-md-10" style="width: 40%;">
       <!--  -->
          
           <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">股票代码 &nbsp;&nbsp&nbsp;&nbsp;</div>
              <input type="text" class="form-control" id="code" name="code" value="{{render_dic.code}}" onblur="check_value(this)"  onFocus="hide_hint()">&nbsp;.HK
            </div>
          </div>
           <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon" >股票名称 &nbsp;&nbsp&nbsp;&nbsp;</div>
              <input type="text" class="form-control" id="stockname" name="stockname" value="{{render_dic.stockname}}" onblur="check_value(this)" onFocus="hide_hint()">
            </div>
          </div>
         
          
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">计划发行总股数</div>
              <input type="text" class="form-control" id="issuevolplanned" name="issuevolplanned" onblur="check_value(this)" onFocus="hide_hint()" value="{{render_dic.issuevolplanned}}">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">公开发售新股股数</div>
              <input type="text" class="form-control" id="publicnewshareplanned" name="publicnewshareplanned" onblur="check_value(this)" onFocus="hide_hint()" value="{{render_dic.publicnewshareplanned}}">
            </div>
          </div>
          
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">发行价 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
              <input type="text" class="form-control" id="issueprice" name="issueprice" value="{{render_dic.issueprice}}" onblur="check_value(this)" onFocus="hide_hint()">元
            </div>
          </div>
          
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">每股最低价</div>
              <input type="text" class="form-control" id="issuepriceceiling" name="issuepriceceiling" value="{{render_dic.issuepriceceiling}}" onblur="check_value(this)" onFocus="hide_hint()">元
            </div>
          </div>
          
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"> 每股最高价</div>
              <input type="text" class="form-control" id="issuepricefloor" name="issuepricefloor"  value="{{render_dic.issuepricefloor}}" onblur="check_value(this)" onFocus="hide_hint()">元
            </div>
          </div>
          
          
          
          
          
          
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">按最高价每手支付价格</div>
              <input type="text" class="form-control" id="tradeunitpriceatceiling" name="tradeunitpriceatceiling" value="{{render_dic.tradeunitpriceatceiling}}" onblur="check_value(this)" onFocus="hide_hint()">元
            </div>
          </div>
          
          <div class="form-group">
            <div class="input-group" style="width:280px">
              <div class="input-group-addon">买卖单位 &nbsp;&nbsp&nbsp;</div>
              <input type="text" class="form-control" id="tradeunit" name="tradeunit" value="{{render_dic.tradeunit}}" onblur="check_value(this)" onFocus="hide_hint()">股/手
            </div>        
          </div>
          
           
    </div>
    
    
    
   <div class="col-md-2">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">交易所</div>
              <input type="text" class="form-control" id="exchange" name="exchange" value="{{render_dic.exchange}}">
            </div>
          </div>
          
              <div class="form-group">
            <div class="input-group" style="width:220px;">
              <div class="input-group-addon">市场代码</div>
              <select class="form-control" name="marketcode" id="marketcode">
              	<option value="0">---请选择---</option>
              	<option value="MAIN">主板</option>
              	<option value="GEM">创业板</option>
             </select>    
            </div>
          </div>
          
          <div class="form-group">
            <div class="input-group" style="width:220px;">
              <div class="input-group-addon">发行类别</div>
              <select class="form-control" name="issuetype" id="issuetype">
              	<option value="0">---请选择---</option>
              	<option value="1">首发 </option>
              	<option value="3">增发 </option>
              	<option value="9">股东转让配售</option>
              	<option value="10">基金营销</option>
             </select>    
            </div>
          </div>
          
          
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">申购起始日</div>
              <input type="text"  id="applystartdate" name="applystartdate" class="laydate-icon" onclick="laydate()" style="height: 40px;" value="{{render_dic.applystartdate}}">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">发行截止日</div>
              <input type="text" id="issueenddate" name="issueenddate" class="laydate-icon" onclick="laydate()" style="height: 34px;"  value="{{render_dic.issueenddate}}">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">预计上市日</div>
              <input type="text"  id="proposedlistdate" name="proposedlistdate" class="laydate-icon" onclick="laydate()" style="height: 34px;"  value="{{render_dic.proposedlistdate}}">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">股票发放日</div>
              <input type="text"  id="datetoaccount" name="datetoaccount" class="laydate-icon" onclick="laydate()" style="height: 34px;" value="{{render_dic.datetoaccount}}">
            </div>
          </div>
          
          
           <div class="form-group">
            <div class="input-group" style="width:280px">
              <div class="input-group-addon">拼音首字母</div>
              <input type="text" class="form-control" id="pin_yin" name="pin_yin" value="{{render_dic.pin_yin}}" maxlength="10" onblur="check_value(this)" onFocus="hide_hint()" >
            </div>        
          </div>
          
          <input type="hidden" id="act" name="act" value="{{act}}" >
          <input type="hidden" id="old_code" name="old_code" value="{{render_dic.code}}" >
          <input type="hidden" id="old_issueprice" name="old_issueprice" value="{{render_dic.issueprice}}" >
          <input type="hidden" id="stockid" name="stockid" value="{{render_dic.id}}" >
          <input type="hidden" id="jy_id" name="jy_id" value="{{render_dic.jy_id}}" >
       
        
         <div class="form-group">
            <div class="input-group" style="width:280px">
              <div > <button type="submit" id="submit" class="btn btn-primary">提交</button></div>
               <div style="width:280px" ><label id="l_hint" style="color:#dd8022"></label> </div>
            </div>        
          </div>
        
    </div> 
  </form>
   <iframe name="msginfo" id="msginfo" style="display:none" height="0"></iframe> 
    
    
    
</div>
<script>
	//jq对象.get(0)就是DOM对象
	{% if render_dic.issuevolplanned != '' %}
	add_separator($("#issuevolplanned").get(0));
	{% endif %}
	{% if render_dic.publicnewshareplanned != '' %}
	add_separator($("#publicnewshareplanned").get(0));
	{% endif %}
	{% if render_dic.issuetype != '' %}
	setSelect('issuetype','{{render_dic.issuetype}}')
	{% endif %}
	{% if render_dic.marketcode != '' %}
	setSelect('marketcode','{{render_dic.marketcode}}')
	{% endif %}
</script>


{% endblock %}
