{% extends "layout.html" %}
{% block content %}
<script src="/static/scripts/list.js"></script>

<div id="toolbar" style="margin-top:60px;padding:15px 0px;margin-bottom:12px;border-top: 1px solid #eee;border-bottom: 1px solid #eee;background: #f8f8f8;color: #666;width:90%">
<form id="form_search" method="get" onsubmit="return check_search()">
<div><!-- DIV needed for valid HTML -->
<label for="searchbar"><img src="/static/img/search.svg" alt="Search" /></label>
<input type="text" size="40" name="q" value="{{q}}" id="searchbar" onFocus="searchbar_focus(this)" onBlur="searchbar_blur(this)" style="height:19px;border:1px solid #ccc;padding:2px 5px;margin: 0;vertical-align: top;font-size:13px;"/>
<input type="hidden" name="orderby" id="search_orderby" value={{orderby}}>
<input type="submit" value="Search" style="border: 1px solid #ccc;padding: 2px 10px;margin: 0;vertical-align: middle;background: #fff;box-shadow: 0 -15px 20px -10px rgba(0, 0, 0, 0.15) inset;cursor: pointer;color: #333;" />
</div>
</form></div>	

<script>searchbar_blur($('#searchbar').get(0))</script>
<div class="results" >
<table id="result_list" width="90%">
<thead>
<tr>
<th scope="col"  class="column-__str__" width="10%">
   
   <div class="text" ><span>股票代码</span></div>
   <div class="clear"></div>
</th>
<th scope="col"  class="column-__str__" width="13%">
   
   <div class="text"><span>股票名称</span></div>
   <div class="clear"></div>
  
</th>


<th scope="col"  class="column-__str__" width="10%">
   
   <div class="text"><a href="?orderby=applystartdate">申购起始日</a></div>
   <div class="clear"></div>
</th>

<th  scope="col"  class="column-__str__" width="10%" >
   
  <div class="text"><a href="?orderby=issueenddate">发行截止日</a></div>
   <div class="clear"></div>
</th>

<th  scope="col"  class="column-__str__" width="10%" >
   
  <div class="text"><a href="?orderby=datetoaccount">股票发放日</a></div>
   <div class="clear"></div>
</th>


<th  scope="col"  class="column-__str__" width="10%" >
   
  <div class="text"><span>发行价</span></div>
   <div class="clear"></div>
</th>

<th  scope="col"  class="column-__str__" width="6%" >
   
  <div class="text"><span>来源</span></div>
   <div class="clear"></div>
</th>


<th  scope="col"  class="column-__str__" width="15%" >
   
  <div class="text"><a href="?orderby=updatetime">更新时间</a></div>
   <div class="clear"></div>
</th>

<th  scope="col"  class="column-__str__" >
   
  <div class="text"><span>操作</span></div>
   <div class="clear"></div>
</th>

</tr>
</thead>
<tbody>


{% for stk in render_list %}
<tr class="row{{stk.linenum}}">
	<td class="field-__str__"  title="{{stk.id}}"> {{stk.code}} </td>
	<td class="field-__str__">{{stk.stockname}}</td>
	<td class="field-__str__">{{stk.applystartdate}}</td>
	<td class="field-__str__">{{stk.issueenddate}} </td>
	<td class="field-__str__">{{stk.datetoaccount}} </td>
	<td class="field-__str__"><div id="div_issueprice_{{stk.code}}_{{stk.jy_id}}"  >
		<div onclick="set_issueprice('{{stk.code}}','{{stk.jy_id}}','{{stk.issueprice}}','{{stk.source}}')" style="cursor: pointer;" title="点击修改" >
		{% if stk.issueprice != '' and stk.issueprice != null %}
			{{stk.issueprice}}
		{% else %}
		无
		{% endif %}
		</div> 
		</div>
		<div id="hint_issueprice_{{stk.code}}_{{stk.jy_id}}" name="hint_issueprice_{{stk.code}}_{{stk.jy_id}}" style="color:#c20"></div>
	</td>
	<td class="field-__str__">
		{% if stk.source == 'ZJ' %}
		<div style="color:#d20" id="source_{{stk.code}}_{{stk.jy_id}}">尊嘉 </div>
		{% else %}
		<div id="source_{{stk.code}}_{{stk.jy_id}}">聚源 </div> 
		{% endif %}
	</td>
	<td class="field-__str__">{{stk.updatetime}} </td>
	<td class="field-__str__">
		<input type="button"  value="修改" onclick="javascript:location.href='/input/?act=update&code={{stk.code}}&source={{stk.source}}'" >
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span id="span_btn_del_{{stk.code}}_{{stk.jy_id}}">
		{% if stk.source == 'ZJ' %}	
			<input type="button" onclick="del_stock('{{stk.code}}','{{stk.jy_id}}')" value="删除">
		{% endif %}
		 </span>
		 &nbsp;&nbsp;&nbsp;&nbsp;
		<label id="l_hint" style="color:#c60"></label>
		 </td>
</tr>
{% endfor %}

</tbody>


</table>

<iframe name="infopost" id="infopost" style="display:none "></iframe>
<form action="/info_submit/" method="post" name="formak" id="formak" target="infopost" >
	{% csrf_token %}
		<input type="hidden" id="code" name="code" value="0" >
		<input type="hidden" id="jy_id" name="jy_id" value="0" >
		<input type="hidden" id="act" name="act" value="del" >
</form>

<!--
<p class="paginator">
</p>
-->

{% if render_list.paginator.num_pages > 1 %}

<div class="pagination">
    <span class="step-links">
    	<a href="?page=1&orderby={{orderby}}">首页</a>&nbsp;&nbsp;&nbsp;&nbsp;
        {% if render_list.has_previous %}
            <a href="?page={{ render_list.previous_page_number }}&orderby={{orderby}}">上一页</a>&nbsp;&nbsp;&nbsp;&nbsp;
        {% endif %}
 
        <span class="current" style="color:#e00000">
            {{ render_list.number }}&nbsp;&nbsp;&nbsp;&nbsp;   
        </span>
 
        {% if render_list.has_next %}
            <a href="?page={{ render_list.next_page_number }}&orderby={{orderby}}">下一页</a>&nbsp;&nbsp;&nbsp;&nbsp;
        {% endif %}
        <a href="?page={{ render_list.paginator.num_pages }}&orderby={{orderby}}">末页</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        共{{ render_list.paginator.num_pages }}页 
    </span>
</div>

{% endif %}

</div>


{% endblock %}
